html {
  scroll-behavior: smooth;
  
}

#home{
	background-color: red;
	background-image: url('../img/web2.jpg');
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 40px;
}
#expenrience{
	margin-top: -20px;
	background-image: url('../img/1.jpeg');
	background-size: cover;

}
.exp{
	background-image: url('img/3.jpg');
}

.workexp_myclass{
			height: 250px;
			border-bottom: 3px solid grey;
	box-shadow: 10px 10px 19px grey;
	padding: 10px;
	
		}

		#education{
background-image: url('../img/c.jpg');
 margin-top: 0px;
}
#education_section{
	background-color: white;
	border-width: 2px;
	/*border: solid 2px black;*/
	margin-bottom: 20px;
    text-align: center;
    height: 300px;
    padding: 5px;
    
    background-color: #ded8d8;
}

#education_section:hover{
	border-bottom: 3px solid grey;
	box-shadow: 10px 10px 19px grey;
}

#home #profile_img{
	
	/*border: 5px solid black;*/
	/*border-radius: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;*/
  /*height: 200px;*/
  /*margin-top: 10px;*/
}

.education_data{
	padding-top: 10px;
}

#projects{
	background-image: url('../img/1.jpeg');
	background-size: cover;
 margin-top: 0px;

}


#hobbies{

	background-image: url('../img/1.jpeg');
	background-size: cover;
}








@media (min-width: 320px) and (max-width: 480px) {
  
  div#profile_img {
    margin-left: 30px;
}
  
}
